@model MvcFYP.ViewModels.ExampleViewModel

@{
    ViewBag.Title = "show";
}

<script src="~/Scripts/codemirror-2.37/lib/codemirror.js"></script>
<link href="~/Scripts/codemirror-2.37/lib/codemirror.css" rel="stylesheet" />
<link href="~/Scripts/codemirror-2.37/theme/twilight.css" rel="stylesheet" />

<br>
@*SELECT ACTION DROPDOWN*@
<div class="float-right">
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Action
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="@Url.Action("Create", "Exercise",  new { exampleID = Model.Example.Id}, null)">Add Exercise</a>
            <a class="dropdown-item" href="#">Edit Example</a>
        </div>
    </div>
</div>

@*DISPLAY EXAMPLE*@
<h2 class="text-center">@Html.DisplayFor(model => model.Example.Name, new { @class = "control-label col-md-2" })</h2>

<p class="text">Question: @Html.DisplayFor(model => model.Example.Question, new { @class = "control-label col-md-2" })</p>

<div class="form-group">
    @Html.LabelFor(model => model.Example.Answer):
    <div class="col-md-10" style="font-size: 17px">
        @Html.TextAreaFor(model => model.Example.Answer, new { id = "codeEditor" })
    </div>
</div>

<script>
    var editor = CodeMirror.fromTextArea
        (document.getElementById('codeEditor'), {
            lineNumbers: true,
            theme: "twilight",
            readOnly: true,
        });
</script>

@*DISPLAY EXERCISES*@
<fieldset style="border: 5px; ">
    @{int i = 1;}
    @foreach (var exercise in Model.Example.Exercises)
    {
        <p>@Html.DisplayFor(x => exercise.Question)</p>

        <br>

        foreach (var selection in exercise.SelectionLists)
        {
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio@(i)" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio@(i)">@Html.DisplayFor(y => selection)</label>
            </div>

            i++;
        }

        i = 1;
    }
</fieldset>

