@model MvcFYP.ViewModels.ActivityViewModel

@{
    if (Session["userID"] == null || ((string)Session["role"] != "Lecturer" && (string)Session["role"] != "Admin"))
    {
        <script>
            $(document).ready(function () {
                alert('Not Authorized');
                window.location.href = "Login/Index";
            });
        </script>
        //Response.Redirect("~/Login/Index");
    }
}

<br>
<h2>Student's Answer</h2>
<br>

<div>
    @using (Html.BeginForm("Search", "Activity", FormMethod.Post))
    {
        @Html.EditorFor(model => model.Search, new { htmlAttributes = new { placeholder = "User name" } })
        <input type="submit" value="Filter" class="btn btn-dark" style="margin-left: 5%"/>
    }
</div>

<br>
<table class="table" style="width: 100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.Exercis.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.Attempt1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.Attempt2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.Attempt3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.Attempt4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentRecord.Date)
        </th>
    </tr>

    @foreach (var item in Model.StudentRecordItems)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exercis.Question)
        </td>

        @if (item.CorrectAttempt == "Attempt1")
        {
            <td style="background-color: lightgreen">
                @Html.DisplayFor(modelItem => item.Attempt1)
            </td>
        }
        else if (item.Attempt1 == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Attempt1)
            </td>
        }
        else
        {
            <td style="background-color: lightcoral">
                @Html.DisplayFor(modelItem => item.Attempt1)
            </td>
        }

        @if (item.CorrectAttempt == "Attempt2")
        {
            <td style="background-color: lightgreen">
                @Html.DisplayFor(modelItem => item.Attempt2)
            </td>
        }
        else if (item.Attempt2 == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Attempt2)
            </td>
        }
        else
        {
            <td style="background-color: lightcoral">
                @Html.DisplayFor(modelItem => item.Attempt2)
            </td>
        }


        @if (item.CorrectAttempt == "Attempt3")
        {
            <td style="background-color: lightgreen">
                @Html.DisplayFor(modelItem => item.Attempt3)
            </td>
        }
        else if (item.Attempt3 == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Attempt3)
            </td>
        }
        else
        {
            <td style="background-color: lightcoral">
                @Html.DisplayFor(modelItem => item.Attempt3)
            </td>
        }

        @if (item.CorrectAttempt == "Attempt4")
        {
            <td style="background-color: lightgreen">
                @Html.DisplayFor(modelItem => item.Attempt4)
            </td>
        }
        else if (item.Attempt4 == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Attempt4)
            </td>
        }
        else
        {
            <td style="background-color: lightcoral">
                @Html.DisplayFor(modelItem => item.Attempt4)
            </td>
        }

        <td style="width: 10%">
            @Html.DisplayFor(modelItem => item.Date)
        </td>

    </tr>


    }

</table>
